@media (min-width: 400px){
    #page-home .content {
        align-items: center;
        text-align: center;
    }
    #page-home span#icone {
        right: 80%;
        width: 80px;
        height: 80px;
        top: 30px;
    }
    #page-home nav#menu ul {
        top: 0px;
        left: 60%;
    }
    #page-home nav#menu li {
        padding: 5px;
    }
    #page-home nav#menu a {
        font-size: 9px;
    }
    #page-home main {
        max-width: 350px;
        justify-content: center;
    }
    #page-home main p {
        text-align: justify;
        font-size: 12px;
        padding: 8px;
        text-indent: 5px;
        margin: auto;
        line-height: 22px;
    }
    #page-home ul#album-fotos {
        width: 380px;
        margin: 0 auto;
    }  
    #page-home ul#album-fotos li {
        float: left;
        width: 150px;
        height: 150px;
        margin: 10px;
    }
}

@media (min-width: 600px) {
    #page-home .content {
        align-items: center;
        text-align: center;
    }
    #page-home span#icone {
        right: 70%;
        width: 85px;
        height: 85px;
        top: 40px;
    }
    #page-home nav#menu ul {
        top: 0px;
        left: 70%;
    }
    #page-home nav#menu li {
        padding: 8px;
    }
    #page-home nav#menu a {
        font-size: 10px;
    }
    #page-home main {
        max-width: 500px;
        max-height: 350px;
        justify-content: center;
    }
    #page-home main p {
        text-align: justify;
        font-size: 13px;
        padding: 10px;
        text-indent: 15px;
        margin: auto;
        line-height: 23px;
    }
    #page-home ul#album-fotos {
        width: 580px;
        margin: 0 auto;
    }  
    #page-home ul#album-fotos li {
        float: left;
        width: 170px;
        height: 170px;
        margin: 10px;
    }
}

@media (min-width: 900px){
    #page-home .content {
        align-items: center;
        text-align: center;
    }
    #page-home span#icone {
        right: 70%;
        width: 100px;
        height: 100px;
        top: 50px;
    }
    #page-home nav#menu ul {
        top: 0px;
        left: 75%;
    }
    #page-home nav#menu li {
        padding: 10px;
    }
    #page-home nav#menu a {
        font-size: 12px;
    }
    #page-home main {
        margin-top: 50px;
        max-width: 700px;
        max-height: 370px;
        justify-content: center;
    }
    #page-home main p {
        text-align: justify;
        font-size: 15px;
        padding: 10px;
        text-indent: 20px;
        margin: 0px;
        line-height: 28px;
    }
    #page-home ul#album-fotos {
        width: 700px;
        margin: 0 auto;
    }  

    #page-home ul#album-fotos li {
        float: left;
        width: 200px;
        height: 200px;
        margin: 10px;

    }
}
