* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: white;
}

header h1 {
    font-family: 'Bellota', cursive;
}

h1, h2, h3, h4, h5, h6, li {
    font-family: 'Indie Flower', cursive;
    color: #322153;
}
